
/* 
.simplebar-scrollbar:before {
    background-color: #cbd1d7 !important
} */

.simplebar-scrollbar:before {
    background-color: #3a454f !important
}
/* 
.simplebar-scrollbar::before {
    background-image: linear-gradient(-131deg, rgb(231, 176, 43) 0%, rgb(193, 62, 81) 100%) !important;
} */